<p id="notice"><%= notice %></p>

<div class="header" id="shoppage">
  <h1> Featured Products </h1>
</div> <!-- end header -->

<div class="container" id="shoppage">
  <div class=“row”>
  <div class=“col-sm-4 col xs-12”>
    <%= image_tag("boot_sportiva2.jpg", class: "img-responsive my-image") %>
    <div class="product_description">
      <h2> La Sportiva Alpine 4000!</h2>
    </div> <!-- end product_description -->
    </div> <!-- end col-sm-4 col xs-12 -->

  <div class=“col-sm-4 col xs-12”>
    <%= image_tag("boot_red_lowa.jpg", class: "img-responsive my-image") %>
    <div class="product_description">
      <h2> Lowa Tibet Series!</h2>
    </div><!-- end product_description -->
    </div><!-- end col-sm-4 col xs-12 -->

  <div class=“col-sm-4 col xs-12”>
    <%= image_tag("boot_climb.jpg", class: "img-responsive my-image") %>
    <div class="product_description">
      <h2> Tenaya Boulder Special!</h2>
    </div><!-- end product_description -->
    </div><!-- end col-sm-4 col xs-12 -->

</div> <!-- end row -->
</div> <!-- end shoppage container -->

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Tenaya Boulder Special!</th>
      <th><%= image_tag("boot_climb.jpg", class: "img-responsive my-image") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
