<p id="notice"><%= notice %></p>

<div class="header" id="productheader">
  <h1> Featured Products </h1>
</div> <!-- end header -->

<div class="container" id="shoppage">
  <div class='row'>
    <div class="col-xs-12 col-sm-4">
    <%= image_tag("boot_yellow_sportiva1.jpg", class: "img-responsive my-image") %>
      <div class="product_description">
      <h2> La Sportiva Alpine 4000!</h2>
      <p> A versatile boot for all weather conditions. </p>
      <strong>$ 500</strong>
      </div> <!-- end product description -->
    </div> <!-- end col-xs-12 col-sm-4 -->


  <div class="col-xs-12 col-sm-4">
    <%= image_tag("boot_red_lowa1.jpg", class: "img-responsive my-image") %>
    <div class="product_description">
      <h2> Lowa Tibet Series!</h2>
      <p> Perfect for high alpine approaches. </p>
      <strong>$ 560</strong>
    </div><!-- end product_description -->
    </div><!-- end col-sm-4 col xs-12 -->

  <div class="col-xs-12 col-sm-4">
    <%= image_tag("boot_climb1.jpg", class: "img-responsive my-image") %>
    <div class="product_description">
      <h2> Tenaya Boulder Special!</h2>
      <p> Made for speed climbing. </p>
      <strong>$ 120</strong>
    </div><!-- end product_description -->
    </div><!-- end col-sm-4 col xs-12 -->

</div> <!-- end row -->

</div> <!-- end shoppage container -->


  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.color %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
